EDI DesktopApp/Connected Services/EDIServiceRef/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://rev-a-shelf.com" elementFormDefault="qualified" targetNamespace="http://rev-a-shelf.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/EDITranslatorServiceLib/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EDITranslatorServiceLib" />
  <xs:element name="GetEDIDocFromJSON">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonSegment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEDIDocFromJSONResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEDIDocFromJSONResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEDIDocFromXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlSegment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEDIDocFromXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEDIDocFromXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONFromEDIDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ediDoc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJSONFromEDIDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJSONFromEDIDocResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXMLFromEDIDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ediDoc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXMLFromEDIDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetXMLFromEDIDocResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EDITranslatorServiceLib" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EDITranslatorServiceLib" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>